*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.frist-box{
    height: 90vh;
    background-color:#fff;
    background-image: url(/imgs/AAAABTWqKXg08MXN-UfAXxPu9ss2-U9CEsMFIM5Tm0ajSVht5DdYq3YKr-ynIAn8qdZCTsNiESwJGjoGSS41KcZPQSlT1XqOSdQXzF9O.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
}
.backbox{
    width: 100%;
    height: 100%;
    background-color: rgb(11, 12, 12);
    opacity: 0.4;
}
.menu p{
    font-weight: bold;
    font-size: 50px;
    color: aliceblue;
}
.opt ul{
    display: flex;
    list-style: none;
    float: right;
}
.opt ul li {
    padding: 15px 20px;
}
.opt ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin-top: 100px;
    color: aliceblue;
}
.opt ul li a:nth-child(4){
    padding-right: 0;
}
.infor{
    width: 800px;
    height: 400px;
    margin: auto;
}
.infor h5{
    margin-left: 300px;
    color: antiquewhite;
    margin-top: 20px;
}
.infor h1{
    margin-left: 200px;
    color: antiquewhite;
    margin-top: 40px;
}
.infor h4{
    margin-left: 300px;
    color: antiquewhite;
    margin-top: 40px;
}
.infor input{
    margin-left: 360px;
    width: 100px;
    height: 40px;
    background-color: rgb(19, 208, 145);
    margin-top: 20px;
    border-radius: 10px;
}
.send .y p{
    margin-left: 40px;
    font-size: 50px;
    color: black;
    margin-left: 0;
}
.send .w input{
    margin-left: 520px;
    width: 100px;
    height: 50px;
    background-color: rgb(65, 106, 23);
    font-weight: bold;

}
.text{
    width: 100%;
    height: 100px;
    /* background-color: blue; */
}
.srs{
    width: 60%;
    height: 100%;
     /* background-color: chartreuse; */
    float: left;
    padding: 10px;
    font-size: 17px;

}
.buy{
    width: 40%;
    height: 100%;
     /* background-color: aqua; */
    float: left;
}
.text input{
    width: 100px;
    height: 40px;
    margin-left: 40px;
    margin-top: 20px;
    background-color: rgb(184, 236, 138);
    border-radius: 10px;
}
.box-t{
    padding: 0 90px;
    height: 300px;
    display: flex;
    margin-top: 50px;
    justify-content: center;
    flex-direction: column;

}
.box-t button{
    width: 100px;
    height: 50px;
    margin-left: 200px;
}
.p ion-icon{
    width: 40px;
    height: 40px;
    margin-left: 180px;

}
.box-full{
    padding: 0;
}
.box-imgs{
    width: 100%;
    height: 600px;
    background-image: url(/imgs/AAAABTWqKXg08MXN-UfAXxPu9ss2-U9CEsMFIM5Tm0ajSVht5DdYq3YKr-ynIAn8qdZCTsNiESwJGjoGSS41KcZPQSlT1XqOSdQXzF9O.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    
}
.opara{
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.238); */
}
.write{
    width: 600px;
    height: 400px;
    /* background-color: blueviolet; */
    margin: auto;
    color: #fff;
}
.write h4{
    margin-left: 120px;
    margin-top: 100px;
    margin: 0;
    
}
.write h1{
    margin-left: 100px;
    margin-top: 40px;
    margin: 0;
}





/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .menu p{
        text-align: center;
        font-size: 37px;
    }
    .menu .ser ion-icon{
        position: absolute;
        color: #fff;
        top: 20px;
        left: 10px;
        font-size: 25px;
        display: block;
    }
    .menu .per ion-icon{
        position: absolute;
        color: #fff;
        top: 20px;
        right: 10px;
        font-size: 25px;
        display: block;
    }
    .infor{
        width: 400px;
        height: 300px;

    }
    .infor h5{
        margin-left: 100px;
    }
    .infor h1{
        margin-left: 42px;
        font-size: 25px;
    }
    .infor h4{
        margin-left: 100px;
    }
    .infor input{
        margin-left: 140px;
    }
    .opt{
        display: none;
    }
    .send .y p{
        margin-left: 70px;
        font-size: 40px;
    }
    .send .w input{
        margin-left: 120px;
        
    }
    .text{
        width: 100%;
        height: 150px;
        /* background-color: blue; */
    }
    .srs{
        width: 100%;
        height: 100%;
        /* background-color: chartreuse; */
        /* float: left; */
        padding: 10px;
        font-size: 17px;
    
    }
    .buy{
        width: 100%;
        height: 50%;
        /* background-color: aqua; */
        /* float: left; */
    }
    
    .text input{
        width: 100px;
        height: 40px;
        margin-left: 40px;
        margin-top: 30px;
        /* background-color: rgb(59, 171, 175); */
    }
    .box-t{
        width: 380px;
        padding: 0 0px;
        height: 300px;
        display: flex;
        margin-top: 50px;
        justify-content: center;
        flex-direction: column;
        font-size: 10px;
    
    }
    .box-t h5{
        margin-left: 20px;
    }
    .box-t h1{
        margin-left: 20px;
    }
    .box-t p{
        margin-left: 20px;
    }
    .box-t button{
        width: 100px;
        height: 50px;
        margin-left: 150px;
    }
    .p ion-icon{
        margin-left: 150px;
    }
    .write{
        width: 350px;
        height: 400px;
        /* background-color: blueviolet; */
         margin: auto;
        color: #fff;
    }
    .write h4{
        margin-left: 40px;
        margin-top: 70px;
        
    }
    .write h1{
        margin-left: 27px;
        margin-top: 40px;
        font-size: 30px;
    }

    

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .infor{
        width: 700px;
        height: 400px;
        margin: auto;
        margin-left: -100px;
    }
    .menu p{
        font-weight: bold;
        font-size: 25px;
        margin-top: 17px;
        /* color: aliceblue; */
    }
    .opt ul li {
        padding: 10px 15px;
    }
    .menu .ser ion-icon{
        display: none;
    }
    .menu .per ion-icon{
        display: none;
    }
    .send .y p{
        margin-left: 10px;
        font-size: 30px;
        color: black;
        margin-left: 0;
        margin-top: 20px;
    }
    .send .w input{
        margin-left: 133px;
        width: 100px;
        height: 50px;
        background-color: chartreuse;
        font-weight: bold;
    
    }
    .text input{
        width: 100px;
        height: 40px;
        margin-left: 30px;
        margin-top: 20px;
        background-color: rgb(118, 230, 21);
        border-radius: 10px;
    }
    .opt ul li a{
        text-decoration: none;
        font-size: 15px;
        font-weight: bold;
        margin-top: 90px;
        color: aliceblue;
    }.infor h5{
        margin-left:270px;
        font-size: 17px;
    }
    .infor h1{
        margin-left: 220px;
        font-size: 25px;
    }
    .infor h4{
        margin-left: 270px;
    }
    .infor input{
        margin-left: 320px;
    }
    .text{
        width: 100%;
        height: 100px;
        /* background-color: blue; */
    }
    .srs{
        width: 100%;
        height: 100%;
        /* background-color: chartreuse; */
        /* float: left; */
        padding: 10px;
        font-size: 17px;
    
    }
    .buy{
        width: 100%;
        height: 90%;
        /* background-color: aqua; */
        /* float: left; */
        margin-left: 30px;
    }
    .text input{
        width: 100px;
        height: 40px;
        margin-left: 50px;
        margin-top: 10px;
        background-color: rgb(118, 230, 21);
        border-radius: 10px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .infor{
        width: 700px;
        height: 400px;
        margin: auto;
        margin-left: -30px;
    }
    .menu p{
        font-weight: bold;
        font-size: 30px;
        margin-top: 16px;
        /* color: aliceblue; */
    }
    .opt ul li {
        padding: 10px 15px;
    }
    .menu .ser ion-icon{
        display: none;
    }
    .menu .per ion-icon{
        display: none;
    }
    .send .y p{
        margin-left: 40px;
        font-size: 30px;
        color: black;
        margin-left: 0;
        margin-top: 30px;
    }
    .send .w input{
        margin-left: 342px;
        width: 100px;
        height: 50px;
        background-color: chartreuse;
        font-weight: bold;
    
    }
    .text input{
        width: 75px;
        height: 30px;
        margin-left: 10px;
        margin-top: 20px;
        background-color: rgb(118, 230, 21);
        border-radius: 10px;
    }
    .srs{
        width: 60%;
        height: 100%;
        /* background-color: chartreuse; */
        float: left;
        padding: 10px;
        font-size: 12px;
    
    }
    
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .menu .ser ion-icon{
        display: none;
    }
    .menu .per ion-icon{
        display: none;
    }
    .menu p{
        font-size: 40px;
        margin-top: 9px;
    }
    .send .y p{
        margin-left: 40px;
        font-size: 31px;
        color: black;
        margin-left: 0;
        margin-top: 30px;
    }
    .text input{
        width: 75px;
        height: 30px;
        margin-left: 40px;
        margin-top: 20px;
        background-color: rgb(118, 230, 21);
        border-radius: 10px;
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .menu .ser ion-icon{
        display: none;
    }
    .menu .per ion-icon{
        display: none;
    }
    .write h4{
        margin-left: 60px;
        margin-top: 70px;
        
    }
    .write h1{
        margin-left: 27px;
        margin-top: 40px;
        font-size: 50px;
    }
    
}
